<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.RepositoryMapper">
    <insert id="createNewRepo"  keyProperty="content.repoId" useGeneratedKeys="true">
        insert into repo value (null, #{content.content}, #{content.comment}, #{content.commitTime}, #{content.versionId});
    </insert>

    <insert id="createNewStaticRepo" parameterType="StaticRepo">
        insert into static_repo value (#{repoName}, #{star}, #{fork}, #{agentId});
    </insert>

    <insert id="createNewBranch" >
        insert into branchtable value (#{static.agentId}, #{static.repoName}, #{branch.branchName}, #{branch.rootRepoId}, #{branch.currentRepoId});
    </insert>
</mapper>