<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.StaticRepoMapper">
    <insert id="createNewStaticRepo" parameterType="StaticRepo">
        insert into staticrepo value (#{repoName}, #{star}, #{fork}, #{agentId});
    </insert>

    <!--get Static Repo -->
    <select id="getStaticRepoByRepoNameAgentId" resultMap="StaticRepoResultMap">
        select * from staticrepo where RepoName = #{repoName} and AgentId = #{agentId};
    </select>
    <!--Static Repo ResultMap-->
    <resultMap id="StaticRepoResultMap" type="com.example.demo.entity.StaticRepo">
        <id property="repoName" column="RepoName" />
        <id property="agentId" column="AgentId" />
        <result property="star" column="Star" />
        <result property="fork" column="Fork"/>
    </resultMap>
</mapper>