<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.demo.mapper.AgentMapper">

        <insert id="createAgent" parameterType="Agent">
            insert into agent values (#{agent.agentName}, #{agent.password}, #{agent.iconUrl});
        </insert>

        <update id="updateUserName">
            update Agent set agentName=#{newName} where agentName=#{oldName};
        </update>

        <update id="updateUserPassword">
            update Agent set password=#{password} where agentName=#{name};
        </update>

        <select id="checkUser" resultType="int">
            select count(*) from Agent where agentName = #{name} and password = #{password}
        </select>

        <select id="existUser" resultType="boolean">
            SELECT EXISTS(SELECT * FROM agent WHERE agentName=#{agentName})
        </select>



        <select id="checkUserName" resultType="int">
            select count(*) from Agent where agentName = #{name}
        </select>

        <delete id="deleteUser">
            delete from Agent where agentName = #{name};
        </delete>



</mapper>









