<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.demo.mapper.ContributorMapper">


    <insert id="insertNewContributor">
        insert into contributor values (#{repositoryId},  #{contributorName});
    </insert>

    <select id="checkContributor" resultType="int">
        select count(*) from contributor where repositoryId=#{repositoryId} and contributorName=#{contributorName};
    </select>

    <update id="updateContributorName">
        update contributor set contributorName=#{newName} where contributorName=#{oldName};
    </update>


</mapper>