<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.demo.mapper.ContributorMapper">

    <delete id="deleteContributorByRepoId">
        delete from contributor where repositoryId=#{repositoryId}
    </delete>

    <insert id="insertNewContributor">
        insert into contributor values (#{repositoryId},  #{contributorName});
    </insert>

    <select id="checkContributor" resultType="int">
        select count(*) from contributor where repositoryId=#{repositoryId} and contributorName=#{contributorName};
    </select>





    <select id="getAllContributors" resultType="String">
        select contributorName from contributor where repositoryId = #{repositoryId};
    </select>


    <select id="getAllRepoId" resultType="String">
        select repositoryId from contributor where contributorName=#{contributorName};
    </select>




    <delete id="removeContributor">
        delete from contributor where repositoryId=#{repositoryId} and contributorName=#{contributorName};
    </delete>
</mapper>