<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.StarRepoMapper">
    <insert id="starRepo">
        insert into agentstarrepo values (#{agentName},#{repoId});
    </insert>

    <select id="getAllStarRepos" resultType="String">
        select repositoryId
        from agentstarrepo where agentName = #{agentName};
    </select>

    <delete id="removeStar">
        delete from agentstarrepo where agentName = #{agentName} and repositoryId = #{repoId};
    </delete>
</mapper>