<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.demo.mapper.StaticRepoMapper">


    <insert id="createNewStaticRepo" parameterType="StaticRepo">
        insert into StaticRepo value (#{staticRepo.agentId}, #{staticRepo.repoName},  #{staticRepo.star}, #{staticRepo.fork});
    </insert>

    <select id="checkRepoInfo" resultType="int">
        select count(*) from StaticRepo where AgentId = #{agentId} and RepoName = #{repoName};
    </select>

</mapper>

